.app-product-detail{
  .title{
    text-align: center;
    padding: 2.5rem 0rem 1.25rem 0rem;
    margin: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .dashboard-search{
    width: 100%;
  }
}
