
.drop-icon{
  &.default{
    color:#7f7f7f;
  }
  &.white{
    color:#fff;
  }
  &.medium{
    font-size: 1.5rem;
  }
  &.x-small{
    font-size: .75rem;
  }
  &.small{
    font-size: 1rem;
  }
  &.large{
    font-size: 2rem;
  }
}