.drop-item{
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color:#fff;
    border: solid 1px #c1cad4;
    border-radius: .0.1875rem;
    box-shadow: 0 0 .0.1875rem 0 rgba(193, 202, 212, 0.7);
    padding: 0.625rem;
    margin: 0.625rem;
    font-size: 0.75rem;
}